.custom-arrow {
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.custom-next-arrow {
  right: 10px;
}

.custom-prev-arrow {
  left: 10px;
}

.custom-arrow::before {
  font-size: 20px;
  color: white;
}
